/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: var(--global-glass-bg-color);
  height: fit-content;
  top: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(18px) saturate(165%);
          backdrop-filter: blur(18px) saturate(165%);
  box-shadow: 0 6px 18px rgba(46, 42, 59, 0.04);

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    display: none;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.5em clamp(1em, 4vw, 2.75em);
    font-family: $sans-serif-narrow;

    @include breakpoint($large) {
      padding-left: 27px;
      padding-right: 54px;
    }

    @include breakpoint($x-large) {
      max-width: $x-large;
      padding-left: 70px;
      padding-right: 140px;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  background-color: transparent;
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 0;
    font-weight: 700;
  }
}
